<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <script src="../Semantic-UI/jquery.js"></script>
    <script src="../Semantic-UI/semantic.min.js"></script>
    <link rel="stylesheet" href="../Semantic-UI/semantic.css">
    <title>Card</title>
</head>

<body>
    <div class="ui container" style="padding: 50px;">
        <div class="ui dividing header">Card</div>
        <div class="ui card">
            <div class="image">
                <img src="../img/small/molly.png" alt="">
            </div>
            <div class="content">
                <div class="header">Molly</div>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">Molly is an art director living in New York</div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>22 Friends
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img src="../img/small/molly.png" alt="" class="ui avatar image">Molly
            </div>
            <img src="../img/wireframe/image.png" alt="">
            <div class="content">
                <div class="right floated meta">
                    <i class="heart outline icon"></i>17 likes
                </div>
                <i class="comment icon"></i>3 comments
            </div>
            <div class="extra content">
                <i class="icon heart outline"></i>
                <div class="ui transparent input">
                    <input type="text" placeholder="Add Comment...">
                </div>
            </div>
        </div>
        <div class="ui dividing header">Cards</div>
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <img class="ui right floated mini image" src="./img/small/eve.png" alt="" class="ui avatar image">
                    <div class="header">Eve</div>
                    <div class="meta">Friends of Veronika</div>
                    <div class="description">
                        Eve requested permission to view your contact details
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <button class="ui basic green button">Approve</button>
                        <button class="ui basic red button">Decline</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <img src="../img/small/molly.png" alt="" class="ui right floated mini image">
                    <div class="header">Molly</div>
                    <div class="meta">New Member</div>
                    <div class="description">Molly wants to add you to the group best friends</div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <button class="ui basic green button">Approve</button>
                        <button class="ui basic red button">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui cards">
            <div class="card">
                <img src="../img/small/elyse.png" class="ui image" alt="">
                <div class="content">
                    <div class="header">Elyse</div>
                    <div class="meta">Friends</div>
                    <div class="description">Elyse is an interior designer living in New York</div>
                </div>
                <div class="extra content">
                    <i class="user icon"></i>151 Friends
                    <div class="right floated">Joined in 2014</div>
                </div>
            </div>
            <div class="card">
                <img src="../img/small/eve.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">Eve</div>
                    <div class="meta">Coworker</div>
                    <div class="description">Eve is a personal assistant living in Paris.</div>
                </div>
                <div class="extra content">
                    <i class="user icon"></i>35 Fridnes
                    <div class="right floated">Joined in 2011</div>
                </div>
            </div>
            <div class="card">
                <img src="../img/small/molly.png" alt="">
                <div class="content">
                    <div class="header">Molly</div>
                    <div class="meta">Coworker</div>
                    <div class="description">Molly is a copywriter working in New York</div>
                </div>
                <div class="extra content">
                    <i class="icon user"></i>Friends
                    <div class="right floated">Joined in 2014</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Content</div>
        <div class="ui card">
            <div class="content">
                <div class="header">Project Timeline</div>
            </div>
            <div class="content">
                <div class="ui sub header">ACTIVE</div>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a>Elliot Fu</a> add <a>Jenny Hess</a> to the project
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <button class="ui button">Join Project</button>
            </div>
        </div>
        <div class="ui dividing header">Image</div>
        <div class="ui card">
            <div class="ui slide masked reveal image">
                <img src="../img/small/molly.png" alt="" class="visible content">
                <img src="../img/small/eve.png" alt="" class="hidden content">
            </div>
            <div class="content">
                <div class="header">Team Fu & Hess</div>
                <div class="meta">Created in Sep 2014</div>
            </div>
            <div class="extra content">
                <i class="users icon"></i>2 Members
            </div>
        </div>
        <div class="ui cards">
            <div class="card">
                <img src="../img/small/elyse.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">Team Fu</div>
                    <div class="meta">Created in sep 2014</div>
                </div>
                <div class="extra content">
                    <i class="users icon"></i>2 Members
                </div>
            </div>
            <div class="card">
                <img src="../img/small/molly.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">TMolly</div>
                    <div class="meta">Created in sep 2014</div>
                </div>
                <div class="extra content">
                    <i class="users icon"></i>2 Members
                </div>
            </div>
        </div>
        <div class="ui dividing header">Header</div>
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="meta">Friend</div>
                    <div class="description">Elliot Fu is a file-maker from New York</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="meta">Friend</div>
                    <div class="description">Elliot Fu is a file-maker from New York</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="meta">Friend</div>
                    <div class="description">Elliot Fu is a file-maker from New York</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Metadata</div>
        <div class="ui card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">2 days ago Animals</div>
                <div class="description">
                    <img src="../img/wireframe/paragraph.png" alt="" class="ui image">
                </div>
            </div>
        </div>
        <div class="ui card">
            <a class="image">
                <img src="../img/small/elyse.png" alt="">
            </a>
            <div class="content">
                <a class="header">Steve Jobs</a>
                <div class="meta">Last Seen 2 days ago
                </div>
            </div>
        </div>
        <div class="ui dividing header">Buttons</div>
        <div class="ui cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">Elliot Fu is a file-maker form New York</div>
                </div>
                <button class="ui bottom attached button">
                    <i class="plus icon"></i>Add Friends
                </button>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">Elliot Fu is a file-maker form New York</div>
                </div>
                <button class="ui bottom attached button">
                    <i class="plus icon"></i>Add Friends
                </button>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">Elliot Fu is a file-maker form New York</div>
                </div>
                <button class="ui bottom attached button">
                    <i class="plus icon"></i>Add Friends
                </button>
            </div>
        </div>
        <div class="ui dividing header">Approval</div>
        <div class="ui card">
            <div class="content">
                <i class="right floated like icon"></i>
                <i class="right floated star icon"></i>
                <div class="header">Cute Dog</div>
                <div class="description">
                    <img src="../img/wireframe/paragraph.png" alt="" class="ui image">
                </div>
            </div>
            <div class="extra content">
                <i class="outline heart icon"></i>Like
                <div class="right floated">
                    <i class="star outline icon"></i>Favorite
                </div>
            </div>
        </div>
        <div class="ui dividing header">Description</div>
        <div class="ui card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">2 days ago</div>
                <div class="description">Cute dogs come in a variety shapees and sizes. Some cute dogs are cute for
                    their adorable faces,others for their tiny stature, and even others for their massive size.</div>
                <div class="description">Many people also have their own barometers for what makes a cute dog</div>
            </div>
        </div>
        <div class="ui dividing header">Extra Content</div>
        <div class="ui card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">2 days ago</div>
                <div class="description">Cute dogs come in a variety shapees and sizes. Some cute dogs are cute for
                    their adorable faces,others for their tiny stature, and even others for their massive size.</div>
                <div class="description">Many people also have their own barometers for what makes a cute dog</div>
            </div>
            <div class="extra content">
                <i class="checkmark icon"></i>121 Votes
            </div>
        </div>
        <div class="ui three cards">
            <div class="fluid card">
                <img src="../img/small/elyse.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">Daniel Louise</div>
                </div>
            </div>
            <div class="fluid card">
                <img src="../img/small/eve.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">Daniel Louise</div>
                </div>
            </div>
            <div class="fluid card">
                <img src="../img/small/molly.png" alt="" class="ui image">
                <div class="content">
                    <div class="header">Daniel Louise</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Centered Card</div>
        <div class="ui centered card">
            <img src="../img/small/molly.png" alt="" class="ui image">
            <div class="content">
                <div class="header">Molly</div>
            </div>
        </div>
        <div class="ui dividing header">Raised Card</div>
        <div class="ui raised card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">Animals</div>
                <div class="description">
                    <img class="ui image" src="./img/wireframe/paragraph.png" alt="">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated">
                    <img src="../img/small/molly.png" alt="" class="ui avatar image">Molly
                </div>
            </div>
        </div>
        <div class="ui raised link card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">Animals</div>
                <div class="description">
                    <img src="../img/wireframe/paragraph.png" class="ui image" alt="">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated">
                    <img src="../img/small/eve.png" alt="" class="ui avatar image">Eve
                </div>
            </div>
        </div>
        <div class="ui dividing header">Link Card</div>
        <a href="https://www.baidu.com" class="ui card">
            <div class="content">
                <div class="header">Cute God</div>
                <div class="meta">
                    <span class="category">Animals</span>
                </div>
                <div class="description">
                    <img src="../img/wireframe/paragraph.png" alt="" class="ui image">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated">
                    <img src="../img/small/molly.png" alt="" class="ui avatar image">Molly
                </div>
            </div>
        </a>
        <div class="ui link card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">
                    <span class="category">Animals</span>
                </div>
                <div class="description">
                    <img src="../img/wireframe/paragraph.png" alt="" class="ui image">
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    <img class="ui avatar image" src="./img/small/eve.png"> Matt
                </div>
            </div>
        </div>
        <div class="ui dividing header">Floated Content</div>
        <div class="ui card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">
                    <span class="right floated time">2 days ago</span>
                    <span class="category">Animals</span>
                </div>
                <div class="description"><img src="../img/wireframe/paragraph.png" alt="" class="ui image"></div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    <img src="../img/small/eve.png" alt="" class="ui avatar image">Eve
                </div>
            </div>
        </div>
        <div class="ui dividing header">Text Alignment</div>
        <div class="ui card">
            <div class="content">
                <div class="center aligned header">Jenny Hess</div>
                <div class="center aligned description">Jenny is a student studying Media Management at the New York
                </div>
            </div>
            <div class="extra content">
                <div class="center aligned author">
                    <img src="../img/small/eve.png" alt="" class="ui avatar image">Jenny
                </div>
            </div>
        </div>
        <div class="ui dividing header">Colored</div>
        <div class="ui four cards">
            <a class="red card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="green card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="olive card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="pink card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="purple card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="blue card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="yellow card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="teal card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="brown card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="black card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="orange card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
            <a class="violet card">
                <img src="../img/wireframe/image.png" alt="" class="ui image">
            </a>
        </div>
        <div class="ui dividing header">Column Count</div>
        <div class="ui four cards">
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="" class="ui image">
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Stackable</div>
        <div class="ui three stackable cards">
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
            </div>
        </div>
        <div class="ui dividing header">Doubling</div>
        <div class="ui six doubling cards">
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $('.ui.rating').rating();
</script>
</html>