<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <script src="../Semantic-UI/jquery.js"></script>
    <script src="../Semantic-UI/semantic.min.js"></script>
    <link rel="stylesheet" href="../Semantic-UI/semantic.css">
    <title>Comment</title>
</head>

<body>
    <div class="ui container" style="padding: 50px;">
        <div class="ui dividing header">Comment</div>
        <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>
            <div class="comment">
                <div class="avatar">
                    <img src="../img/small/molly.png" alt="">
                </div>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata">
                        <span class="date">Today at 5:42pm</span>
                    </div>
                    <div class="text">
                        How aartistic!
                    </div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/eve.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Elliot Fu</a>
                    <div class="metadata">
                        <span class="date">Yesterday at 12:30AM</span>
                    </div>
                    <div class="text">This has vert useful for my research.Thanks as well!</div>
                    <div class="actions"><a class="reply">Replay</a></div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Joe Henderson</a>
                    <div class="metadata"><span class="date">Five days ago</span></div>
                    <div class="text">DUde,this is awesome.Thanks so much</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar">
                            <img src="../img/small/eve.png" alt="">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">This has vert useful for my research.Thanks as well!</div>
                            <div class="actions"><a class="reply">Replay</a></div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../img/small/elyse.png" alt="">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata"><span class="date">Five days ago</span></div>
                            <div class="text">DUde,this is awesome.Thanks so much</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <button class="ui labeled icon primary button"><i class="edit icon"></i>Add Reply</button>
            </form>
        </div>
        <div class="ui dividing header">Avatar</div>
        <div class="ui comments">
            <div class="ui comment">
                <div class="avatar">
                    <img src="../img/small/eve.png" alt="">
                </div>
                <div class="content">
                    <div class="author">Elliot FU</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Metadata</div>
        <div class="ui comments">
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Stevie Feliciano</a>
                    <div class="metadata">
                        <span class="date">2 days ago</span>
                        <span>
                            <i class="star icon"></i>
                            5 Faves
                        </span>
                    </div>
                    <div class="text">Hey guys, I hope this example comment is helping you read this documentation</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Actions</div>
        <div class="ui comments">
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Molly</a>
                    <div class="metadata">
                        <span class="date">2 days ago</span>
                        <span><i class="heart icon"></i> 5 likes</span>
                    </div>
                    <div class="text">This will be great for business reports.I will definitely download this.</div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                        <a class="save">Save</a>
                        <a class="hide">Hide</a>
                        <a>
                            <i class="expand icon"></i>
                            Full-screen
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Reply Form</div>
        <div class="ui comments">
            <dic class="comment">
                <a class="avatar">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Steve Jobs</a>
                    <div class="metadata">
                        <span class="date">2 days ago</span>
                    </div>
                    <div class="text">Revoltionary</div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                    <form action="" class="ui reply form">
                        <div class="field">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="ui submit primary labeled icon button">
                            <i class="edit icon"></i>
                            Add Reply
                        </div>
                    </form>
                </div>
            </dic>
        </div>
        <div class="ui comments">
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Joe Henderson</a>
                    <div class="metadata">
                        <span class="date">1 days ago</span>
                    </div>
                    <div class="text">The hours,minutes and seconds stand as visible reminder that your offort put them all there.Preserve until your next run,when the watch lets you see how Impermanent your efforts are</div>
                    <div class="actions">
                        <a class="reply"Reply></a>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/eve.png" alt="">
                </a>
                <div class="content">
                    <a class="author">CHristian Rocha</a>
                    <div class="metadata">
                        <span class="date">2 days ago</span>
                    </div>
                    <div class="text">I re-tweeted this.</div>
                    <div class="actions">
                        <a class="reply"Reply></a>
                    </div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <div class="ui submint primary labeled icon button" tabindex="0">
                    <i class="edit icon"></i>Add Comment
                </div>
            </form>
        </div>
        <div class="ui dividing header">Collapsed</div>
        <div class="ui comments">
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/molly.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Christian Rocha</a>
                    <div class="metadata"><span class="date">2 days ago</span></div>
                    <div class="text">I'm very inserested in this motherboard.Do you know if it'd work in a intel LGA775 CPU socket?</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="author">Christian Rocha</a>
                    <div class="metadata"><span class="date">2 days ago</span></div>
                    <div class="text">I'm very inserested in this motherboard.Do you know if it'd work in a intel LGA775 CPU socket?</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="collapsed comments">
                    <div class="comment">
                        <a class="avatar">
                            <img src="../img/small/molly.png" alt="">
                        </a>
                        <div class="content">
                            <a class="author">Christian Rocha</a>
                            <div class="metadata"><span class="date">2 days ago</span></div>
                            <div class="text">I'm very inserested in this motherboard.Do you know if it'd work in a intel LGA775 CPU socket?</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../img/small/elyse.png" alt="">
                        </a>
                        <div class="content">
                            <a class="author">Christian Rocha</a>
                            <div class="metadata"><span class="date">2 days ago</span></div>
                            <div class="text">I'm very inserested in this motherboard.Do you know if it'd work in a intel LGA775 CPU socket?</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Threaded</div>
        <div class="ui threaded comments">
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                            <div class="text">How artistic!</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <div class="ui submit primary labeled icon button"><i class="edit icon"></i>Add Comment</div>
            </form>
        </div>
        <div class="ui dividing header">Minimal</div>
        <div class="ui mini comments">
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                            <div class="text">How artistic!</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <div class="ui submit primary labeled icon button"><i class="edit icon"></i>Add Comment</div>
            </form>
        </div>
        <div class="ui dividing header">Size</div>
        <div class="ui small comments">
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                            <div class="text">How artistic!</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <div class="ui submit primary labeled icon button"><i class="edit icon"></i>Add Comment</div>
            </form>
        </div>
        <div class="ui dividing header">Comments</div>
        <div class="ui comments">
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                            <div class="text">How artistic!</div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar"><img src="../img/small/molly.png" alt=""></a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata"><span class="date">Today at 5:42PM</span></div>
                    <div class="text">How artistic!</div>
                    <div class="actions"><a class="reply">Reply</a></div>
                </div>
            </div>
            <form action="" class="ui reply form">
                <div class="field"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                <div class="ui submit primary labeled icon button"><i class="edit icon"></i>Add Comment</div>
            </form>
        </div>
    </div>
</body>

</html>