<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <script src="../Semantic-UI/jquery.js"></script>
    <script src="../Semantic-UI/semantic.min.js"></script>
    <link rel="stylesheet" href="../Semantic-UI/semantic.css">
    <title>Items</title>
</head>

<body>
    <div class="ui container" style="padding: 50px;">
        <div class="ui dividing header">Items</div>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <h3 class="header">Header</h3>
                    <div class="meta">
                        <span>Description</span>
                    </div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        Additional Details
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <h3 class="header">Header</h3>
                    <div class="meta"><span>Description</span></div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui image small" alt="">
                    </div>
                    <div class="meta">Additional Details</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Image</div>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
            </div>
        </div>
        <div class="ui dividing header">Content</div>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    Content-one
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    Content-two
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    Content-three
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    Content-four
                </div>
            </div>
        </div>
        <div class="ui dividing header">Header</div>
        <div class="ui items">
            <div class="item">
                <div class="small image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    <h2 class="header">12 Years a Slave</h2>
                </div>
            </div>
            <div class="item">
                <div class="small image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    <h2 class="header">12 Years a Slave</h2>
                </div>
            </div>
            <div class="item">
                <div class="small image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    <h2 class="header">12 Years a Slave</h2>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Metadate</div>
        <div class="ui items">
            <div class="item">
                <div class="tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Arrowhead Valley Camp</div>
                    <div class="meta">
                        <span class="price">$1200</span>
                        <span class="stay">1 Month</span>
                    </div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui image small" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Arrowhead Valley Camp</div>
                    <div class="meta">
                        <span class="price">$1200</span>
                        <span class="stay">1 Month</span>
                    </div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui image small" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Arrowhead Valley Camp</div>
                    <div class="meta">
                        <span class="price">$1200</span>
                        <span class="stay">1 Month</span>
                    </div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui image small" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Link</div>
        <div class="ui items">
            <div class="item">
                <a class="ui tiny image">
                    <img src="../img/small/molly.png" alt="">
                </a>
                <div class="content">
                    <a class="link header">Stevie Feliciano</a>
                    <div class="description">
                        Stevie Feliciano is a library scientist living in New York City. She likes to spend her time
                        reading, running, and writing.
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="ui tiny link image">
                    <img src="../img/small/elyse.png" alt="">
                </a>
                <div class="content">
                    <a class="header">Stevie Feliciano</a>
                    <div class="description">
                        Stevie Feliciano is a library scientist living in New York City. She likes to spend her time
                        reading, running, and writing.
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="ui tiny image">
                    <img src="../img/small/eve.png" alt="">
                </a>
                <div class="content">
                    <a class="link header">Stevie Feliciano</a>
                    <div class="description">
                        Stevie Feliciano is a library scientist living in New York City. She likes to spend her time
                        reading, running, and writing.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Description</div>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Cote Dog</div>
                    <div class="description">
                        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable
                            faces, others f</p>
                        <p>Many people also have their own barometers for what makes a cute dog.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Extra Content</div>
        <div class="ui items">
            <div class="item">
                <div class="content">
                    <div class="header">Cute Dog</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" alt="" class="ui image">
                    </div>
                    <div class="extra">
                        <i class="green checkmark icon"></i>121 views
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Rating</div>
        <div class="ui items">
            <div class="ui positive message">
                You can use the rating component to attached events to like and facorite icons
            </div>
            <div class="item">
                <div class="image"><img src="../img/small/elyse.png" alt=""></div>
                <div class="middle aligned content">
                    <div class="header">
                        <i class="like active icon"></i>
                        Veronika Ossi
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image"><img src="../img/small/molly.png" alt=""></div>
                <div class="middle aligned content">
                    <div class="header">
                        <i class="favorite icon active"></i>
                        Veronika Ossi
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Stacking</div>
        <div class="ui stacking items">
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Header</div>
                    <div class="meta">Description</div>
                    <div class="description">
                        <img class="ui small image" src="./img/wireframe/paragraph.png" alt="">
                    </div>
                    <div class="extra">
                        Addidtional Details
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Header</div>
                    <div class="meta">Description</div>
                    <div class="description">
                        <img class="ui small image" src="./img/wireframe/paragraph.png" alt="">
                    </div>
                    <div class="extra">
                        Addidtional Details
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Divided</div>
        <div class="ui divided items">
            <div class="ui positive message">
                <i class="info icon"></i>
                The following exapmle users ui for legibility only. This is not necessary for using ui items
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">12 Years a Slave</div>
                    <div class="meta">Union Square 14</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui image small" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui label">IMAX</div>
                        <div class="ui icon label"><i class="globe icon"></i>Additional Languages</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" class="ui small image" alt="">
                </div>
                <div class="content">
                    <div class="header">My Neighbor Totoro</div>
                    <div class="meta">IFC Cinema</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui label">Limited</div>
                        <div class="ui right floated icon primary button">Buy tickets <i
                                class="right angle arrow icon"></i></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Watchmen</div>
                    <div class="meta">IFC</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui right floated primary icon button">Buy tickets <i class="right arrow icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Relaxed</div>
        <div class="ui relaxed items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content middle aligned">
                    <div class="header">12 Years a Slave</div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content middle aligned">
                    <div class="header">12 Years a Slave</div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content middle aligned">
                    <div class="header">12 Years a Slave</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Link Item</div>
        <div class="ui link items">
            <div class="item">
                <div class="image">
                    <img src="../img/small/elyse.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Stevie Feliciano</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/small/eve.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Stevie Feliciano</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="../img/small/molly.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Stevie Feliciano</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">Vertical Alignement</div>
        <div class="ui items">
            <div class="ui positive message">
                <i class="info icon"></i>
                You can include an arbitrary amount of metadata using your own class conventions,all child elements will
                automatically be spaced.
            </div>
            <div class="item">
                <div class="ui small round image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Top Aligned</div>
                </div>
            </div>
            <div class="item">
                <div class="ui small image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="middle aligned content">
                    <div class="header">Middle Aligned</div>
                </div>
            </div>
            <div class="item">
                <div class="ui small image">
                    <img src="../img/wireframe/image.png" alt="">
                </div>
                <div class="bottom aligned content">
                    <div class="header">Bottom Aligned</div>
                </div>
            </div>
        </div>
        <div class="ui dividing header">FLoated Content</div>
        <div class="ui items">
            <div class="ui positive message">
                <i class="info icon"></i>
                You can include an arbitrary amount of metadata using your own class conventions,all child elements will
                automatically be spaced.
            </div>
            <div class="item">
                <div class="ui tiny image"><img src="../img/wireframe/image.png" alt=""></div>
                <div class="content">
                    <div class="header">Content A</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">Action</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image"><img src="../img/wireframe/image.png" alt=""></div>
                <div class="content">
                    <div class="header">Content A</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">Action</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image"><img src="../img/wireframe/image.png" alt=""></div>
                <div class="content">
                    <div class="header">Content A</div>
                    <div class="description">
                        <img src="../img/wireframe/paragraph.png" class="ui small image" alt="">
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">Action</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>